* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #fff7fa;
    color: #000000;
}

/* NAVBAR */
header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background: #000000;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    z-index: 1000;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}

nav ul {
    display: flex;
    gap: 25px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    font-size: 16px;
    color: white;
    font-weight: 500;
    transition: 0.3s;
}
nav ul li a:hover {
    color: #ffe6ee;
}

/* HERO */
.hero {
    height: 100vh;
    background: url('bg\ gymshark\ utama.jpg') center/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}

.hero h1 {
    font-size: 50px;
    color: #fff;
    text-shadow: 0 3px 5px rgba(0,0,0,0.4);
}

.hero p {
    font-size: 20px;
    margin: 15px 0;
    color: #fff;
}

.btn {
    background: #000000;
    padding: 12px 25px;
    color: white;
    border-radius: 25px;
    text-decoration: none;
    font-size: 18px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.3);
    transition: 0.3s;
}

.btn:hover {
    background-color: dimgrey;
}

/* PRODUK */
.produk-section {
    padding: 80px 50px;
    text-align: center;
}

.produk-section h2 {
    font-size: 32px;
    margin-bottom: 40px;
}

.produk-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.card {
    background: #fff;
    width: 250px;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: center;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.card h3 {
    margin: 10px 0;
}

.card button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    background: #000000;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.card button:hover {
    background: #000000;
}

/* PROMO */
.promo {
    background: #d6d4d488;
    padding: 60px 20px;
    text-align: center;
}

.promo h2 {
    font-size: 30px;
}

/* KONTAK */
.kontak {
    padding: 60px 20px;
    text-align: center;
}

footer {
    background: #000000;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
    color: white;
}